
<ion-modal #modal trigger="open-custom-dialog" class="confirm-modal-wrapper">
  <ng-template>
    <div class="confirm-modal">
      <h1>Name your collection</h1>
        <ion-input 
          fill="outline"
          class="name-input"
          type="text" 
          fill="solid" 
          labelPlacement="floating" 
          [(ngModel)]="name">
        </ion-input>
      <div class="button-container">
        <ion-tab-button (click)="cancel()">
          <img src="/assets/icons8-x-30.png" />
        </ion-tab-button>
        <ion-tab-button (click)="createCollection()">
          <img src="/assets/icons8-confirm-30.png" />
        </ion-tab-button>
      </div>
    </div>
  </ng-template>
</ion-modal>
