<ion-header [translucent]="true" *ngIf="sharedService.isEditMode">
  <ion-toolbar>
    <ion-title> Edit </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Edit image</ion-title>
    </ion-toolbar>
  </ion-header>

  <h6 *ngIf="!image">Select image from upload and click on edit to edit it!</h6>
  <ion-img *ngIf="!!image" [src]="image!.data" class="imgClass"></ion-img>

  <cmp-edit-bar class="edit-bar"></cmp-edit-bar>
</ion-content>  