<ion-header [translucent]="true" *ngIf="sharedService.isEditMode">
  <ion-toolbar>
    <div class="toolbar">
      <div class="header-child logo-cotainer"><img src="/assets/logo-small.png"/></div>
      <ion-title class="header-child"> Edit </ion-title>
      <div class="toolbar-buttons header-child">
        <button>
          <img src="/assets/icons8-save-50.png" (click)="exportImage()" />
        </button>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Edit image</ion-title>
    </ion-toolbar>
  </ion-header>

  <h6 *ngIf="sharedService.isEmptyFile" class="no-pic-selected-text">
    Select image from upload and click on edit to edit it!
  </h6>
  <!-- Remove the imgClass if its not need-->
  <div #sketch class="imgClass canvas-container"></div>

  <cmp-edit-bar class="edit-bar" *ngIf="!sharedService.isEmptyFile" 
   (onDither)="onDither()"
   (onStartMap)="onStartMap()"
   (onPixelSort)="onPixelSort()" 
   (onTriangulate)="onTriangulate()" 
   (onGlitch)="onGlitch()"
   (onShiftDownward)="onShiftDownward()"
   (onDeblur)="onDeblur()"
   (onEdge)="onDetectEdges()"
   (onInvert)="onInvert()"
   ></cmp-edit-bar>
</ion-content>