<ion-tabs class="edit-bar">
  <div class="range-container">
    <ion-range *ngIf="isVisible(DITHER)" (ionChange)="setPixSize($event)" aria-label="Range with ticks" [ticks]="true"
      [snaps]="true" [min]="1" [max]="10"></ion-range>
    <ion-range *ngIf="isVisible(DITHER)" (ionChange)="setContrast($event)" aria-label="Range with ticks" [ticks]="true"
      [snaps]="true" [min]="1" [max]="10"></ion-range>
    <ion-range *ngIf="isVisible(TRIANGULATE)" (ionChange)="setAbstractionLevel($event)" aria-label="Range with ticks"
      [ticks]="true" [snaps]="true" [min]="1" [max]="10"></ion-range>
    <ion-range *ngIf="isVisible(TRIANGULATE)" (ionChange)="setHue($event)" aria-label="Range with ticks" [ticks]="true"
      [snaps]="true" [min]="1" [max]="10"></ion-range>
    <ion-range *ngIf="isVisible(TRIANGULATE)" (ionChange)="setDetailLevel($event)" aria-label="Range with ticks"
      [ticks]="true" [snaps]="true" [min]="1" [max]="10"></ion-range>

    <ion-range *ngIf="isVisible(PXL_SORT)" (ionChange)="setPixelMin($event)" aria-label="Range with ticks"
      [ticks]="true" [snaps]="true" [min]="1" [max]="10"></ion-range>

    <ion-range *ngIf="isVisible(TOPOGRAPHY)" (ionChange)="setMapRotation($event)" aria-label="Range with ticks"
      [ticks]="true" [snaps]="true" [min]="1" [max]="10"></ion-range>

    <ion-range *ngIf="isVisible(GLITCH)" (ionChange)="setGlitchParams($event)" aria-label="Range with ticks"
      [ticks]="true" [snaps]="true" [min]="1" [max]="10"></ion-range>
    <ion-range *ngIf="isVisible(SHIFT)" (ionChange)="setShiftDownwardParams1($event)" aria-label="Range with ticks"
      [ticks]="true" [snaps]="true" [min]="1" [max]="10"></ion-range>
    <ion-range *ngIf="isVisible(SHIFT)" (ionChange)="setShiftDownwardParams2($event)" aria-label="Range with ticks"
      [ticks]="true" [snaps]="true" [min]="1" [max]="10"></ion-range>
    <ion-range *ngIf="isVisible(SHIFT)" (ionChange)="setShiftDownwardParams3($event)" aria-label="Range with ticks"
      [ticks]="true" [snaps]="true" [min]="1" [max]="10"></ion-range>

      <ion-range *ngIf="isVisible(DEBLUR)" (ionChange)="setNoiseParams($event)" aria-label="Range with ticks"
      [ticks]="true" [snaps]="true" [min]="1" [max]="10"></ion-range>

  </div>
  <ion-tab-bar slot="bottom">
    <div class="button-container">
      <button id="pixel-btn" (click)="dither()">
        <img src="/assets/icons8-pixel-heart-50.png" />
      </button>

      <button (click)="triangulate()">
        <img src="/assets/icons8-mesh-50.png" />
      </button>

      <button id="sound-glitch" (click)="pixelSort()">
        <img src="/assets/icons8-sort-32.png" />
      </button>

      <button id="inpaint" (click)="glitch()">
        <img src="/assets/icons8-merge-64.png" />
      </button>

      <button id="3dmap" (click)="startMapping()">
        <img src="/assets/icons8-cube-64.png" />
      </button>


      <button id="shift-downward" (click)="shiftPixelsDownward()">
        <img src="/assets/icons8-data-transfer-32.png" />
      </button>

      <button id="deblur" (click)="deblur()">
        <img src="/assets/icons8-seeding-64.png" />
      </button>

      <button id="edge" (click)="edgeDetect()">
        <img src="/assets/icons8-layer-64.png" />
      </button>

      <button id="edge" (click)="invert()">
        <img src="/assets/icons8-invert-50.png" />
      </button>
    </div>
  </ion-tab-bar>
</ion-tabs>