<ion-tabs class="edit-bar">
  <div class="range-container">
    <ion-range *ngIf="showSlider" (ionChange)="setPixSize($event)" aria-label="Range with ticks" [ticks]="true"
      [snaps]="true" [min]="1" [max]="10"></ion-range>
    <ion-range *ngIf="showSlider" (ionChange)="setContrast($event)" aria-label="Range with ticks" [ticks]="true"
      [snaps]="true" [min]="1" [max]="10"></ion-range>
    <ion-range *ngIf="showTriangleSlider" (ionChange)="setAbstractionLevel($event)" aria-label="Range with ticks"
      [ticks]="true" [snaps]="true" [min]="1" [max]="10"></ion-range>
    <ion-range *ngIf="showTriangleSlider" (ionChange)="setHue($event)" aria-label="Range with ticks" [ticks]="true"
      [snaps]="true" [min]="1" [max]="10"></ion-range>
    <ion-range *ngIf="showTriangleSlider" (ionChange)="setDetailLevel($event)" aria-label="Range with ticks"
      [ticks]="true" [snaps]="true" [min]="1" [max]="10"></ion-range>
  </div>
  <ion-tab-bar slot="bottom">
    <div class="button-container">
      <button id="pixel-btn" (click)="dither()">
        <img src="/assets/icons8-pixel-heart-50.png" />
      </button>
      <!-- <ion-popover class="pixel-btn">
      <ng-template>
        <ion-content class="ion-padding">Dither</ion-content>
      </ng-template>
    </ion-popover> -->
      <!-- <button id="pixel-sort" (click)="triangulate()">
        <img src="/assets/icons8-sort-32.png" />
      </button> -->
      <button (click)="triangulate()">
        <img src="/assets/icons8-design-64.png" />
      </button>
      <!-- <ion-popover trigger="pixel-sort" triggerAction="hover">
      <ng-template>
        <ion-content class="ion-padding">Pixel sort</ion-content>
      </ng-template>
    </ion-popover> -->
      <button id="sound-glitch" (click)="pixelSort()">
        <img src="/assets/icons8-sort-32.png" />
      </button>
      <!-- <ion-popover trigger="sound-glitch" triggerAction="hover">
      <ng-template>
        <ion-content class="ion-padding">Glitch</ion-content>
      </ng-template>
    </ion-popover> -->
      <button id="inpaint" (click)="glitch()">
        <img src="/assets/icons8-sound-50.png" />
      </button>
      <!-- <ion-popover trigger="inpaint" triggerAction="hover">
      <ng-template>
        <ion-content class="ion-padding">Inpainting</ion-content>
      </ng-template>
    </ion-popover> -->
      <button id="3dmap" (click)="startMapping()">
        <img src="/assets/icons8-merge-64.png" />
      </button>
    </div>
  </ion-tab-bar>
</ion-tabs>

<ion-range *ngIf="showSlider" (ionChange)="setPixSize($event)" aria-label="Range with ticks" [ticks]="true" [snaps]="true" [min]="1" [max]="10"></ion-range>
<ion-range *ngIf="showSlider" (ionChange)="setContrast($event)" aria-label="Range with ticks" [ticks]="true" [snaps]="true" [min]="1" [max]="10"></ion-range>


<ion-range *ngIf="showTriangleSlider" (ionChange)="setAbstractionLevel($event)" aria-label="Range with ticks" [ticks]="true" [snaps]="true" [min]="1" [max]="10"></ion-range>
<ion-range *ngIf="showTriangleSlider" (ionChange)="setHue($event)" aria-label="Range with ticks" [ticks]="true" [snaps]="true" [min]="1" [max]="10"></ion-range>
<ion-range *ngIf="showTriangleSlider" (ionChange)="setDetailLevel($event)" aria-label="Range with ticks" [ticks]="true" [snaps]="true" [min]="1" [max]="10"></ion-range>


<ion-range *ngIf="showPixelSlider" (ionChange)="setPixelMin($event)" aria-label="Range with ticks" [ticks]="true" [snaps]="true" [min]="1" [max]="10"></ion-range>

<ion-range *ngIf="showMapSlider" (ionChange)="setMapRotation($event)" aria-label="Range with ticks" [ticks]="true" [snaps]="true" [min]="1" [max]="10"></ion-range>

<ion-range *ngIf="showGlitchSlider" (ionChange)="setGlitchParams($event)" aria-label="Range with ticks" [ticks]="true" [snaps]="true" [min]="1" [max]="10"></ion-range>