<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title> Collections </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="collection-card-container" *ngIf="(collections$ | async) | keyvalue">
        <ion-card *ngFor="let collection of (collections$ | async ) | keyvalue" class="collection-card">
            <ion-card-header>
                <ion-card-title class="card-title">{{collection?.value?.name}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <ion-thumbnail slot="start" class="collecitons-thumbnail" *ngIf="collection?.value!.images && collection?.value?.images!.length > 0">
                    <ion-img [src]="collection.value!.images[0].data" class="image1"></ion-img>
                    <ion-img *ngIf="collection.value?.images!.length > 1" [src]="collection.value!.images[1].data" class="image2"></ion-img>
                </ion-thumbnail>
            </ion-card-content>
        </ion-card>
    </div>
    <ion-fab>
        <ion-fab-button id="open-custom-dialog" expand="block" class="add-collection-button">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>

<new-col-dialog-cmp></new-col-dialog-cmp>