<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>Collection</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <div class="settings-item">
        <ion-input 
        fill="outline" 
        class="export-name-input generic-input generic-input-dark" 
        (ionChange)="renameCollection($event)" 
        type="text" 
        fill="solid" 
        labelPlacement="floating"
        [(ngModel)]="collection.name">
        </ion-input>
    </div>
     <ion-list *ngIf="images.length > 0">
      <ion-item class="card" *ngFor="let file of images; let i = index">
        <ion-thumbnail slot="start">
          <ion-img [src]="file.data"></ion-img>
        </ion-thumbnail>
      
       
        <ion-button class="icon" slot="end" fill="clear" (click)="editImage(file)">
          <img src="/assets/icons8-edit-50.png" />
          
        </ion-button>
        <!-- <confirm-dialog (onDelete)="deleteImage(imageToDelete)"></confirm-dialog>  -->
        <ion-button class="icon" slot="end" id="open-confirm-dialog" fill="clear" (click)="removeFromCollection(file)">
          <img src="/assets/icons8-x-30.png" />
        </ion-button>
      </ion-item>
    </ion-list>

    <h3 (click)="onDeleteCollection()">Delete collection</h3>
  </ion-content>