<ion-header [translucent]="true">
    <ion-toolbar>
        <div class="toolbar">
            <div class="header-child logo-cotainer"><img src="/assets/logo-small.png"/></div>
            <ion-title class="header-child"> Collection </ion-title>
            <div class="header-child"></div>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content>

    <div>
        <ion-input fill="outline" class="collection-name-input generic-input generic-input-dark"
            (ionChange)="renameCollection($event)" type="text" fill="solid" labelPlacement="floating"
            [(ngModel)]="collection.name">
        </ion-input>
    </div>
    <ion-list *ngIf="images.length > 0">
        <ion-item class="card" *ngFor="let file of images; let i = index">
            <ion-thumbnail slot="start" class="card-thumbnail">
                <ion-img [src]="file.data"></ion-img>
            </ion-thumbnail>


            <ion-button class="icon" slot="end" fill="clear" (click)="editImage(file)">
                <img src="/assets/icons8-edit-50.png" />

            </ion-button>
            <ion-button class="icon" slot="end" fill="clear"
                (click)="removeFromCollection(file)">
                <img src="/assets/icons8-x-30.png" />
            </ion-button>
        </ion-item>
    </ion-list>

    <ion-text class="anchor-container">
        <a (click)="setIsOpen(true)" class="delete-anchor"> Delete collection</a>
    </ion-text>
</ion-content>
<ion-modal [isOpen]="isModalOpen" class="confirm-modal-wrapper">
    <ng-template>
      <div class="confirm-modal yes-no-modal">
        <h1>{{message}}</h1>
  
        <div class="button-container">
          <ion-tab-button (click)="setIsOpen(false)">
            <img src="/assets/icons8-x-30.png" />
          </ion-tab-button>
          <ion-tab-button (click)="onDeleteCollection()">
            <img src="/assets/icons8-confirm-30.png" />
          </ion-tab-button>
        </div>
      </div>
    </ng-template>
  </ion-modal>