.delete-anchor{
    color: #eb445a;
    margin-left: 3%;
    margin-top: 20px;
    display: inline-block;
}

.delete-anchor:hover{
    cursor: pointer;
}

.collection-name-input
{
    width: 93%;
    margin: 20px auto 0 auto;
    --border-radius: 8px;
}