<ion-content>

  <ion-img class="empty-image" src="assets/folder-is-empty.webp" *ngIf="images.length === 0"></ion-img>
  <h6 class="ion-text-center" *ngIf="images.length === 0"> Your library is empty. Upload some photos and start playing
    around! </h6>
  <ion-list *ngIf="images.length > 0">
    <ion-item class="card" *ngFor="let file of images; let i = index">
      <ion-thumbnail slot="start">
        <ion-img [src]="file.data"></ion-img>
      </ion-thumbnail>
      <ion-button class="icon" slot="end" fill="clear">
        <img src="/assets/icons8-plus-50.png" />
      </ion-button>
      <ion-item>
        <ion-select label="Add to.." [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="">
          <ion-select-option *ngFor="let item of collections">{{item?.name}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-button class="icon" slot="end" fill="clear" (click)="editImage(file)">
        <img src="/assets/icons8-edit-50.png" />
      </ion-button>
      <ion-button class="icon" slot="end" fill="clear" (click)="deleteImage(file)">
        <img src="/assets/icons8-x-30.png" />
      </ion-button>
    </ion-item>
  </ion-list>
  <ion-toolbar color="primary">
    <ion-button fill="clear" expand="full" color="dark" (click)="selectImage()">
      <ion-icon slot="start" name="camera"></ion-icon>
      Select Image
    </ion-button>
  </ion-toolbar>
</ion-content>
