<ion-header [translucent]="true">
    <ion-toolbar>
        <div class="toolbar">
            <div class="header-child logo-cotainer"><img src="/assets/logo-small.png"/></div>
            <ion-title class="header-child"> Settings </ion-title>
            <div class="header-child"></div>
        </div>
    </ion-toolbar>
</ion-header>
<div class="settings-container">
    <div class="settings-item">
        <ion-toggle 
        [checked]="autoSave" 
        [(ngModel)]="autoSave" 
        (ionChange)="toggleAutoSave()"
        color="dark">
            Auto save
        </ion-toggle>
        <br /><br />
    </div>

    <div class="settings-item">
        <h5>Default export name</h5>
        <ion-input 
        fill="outline" 
        class="export-name-input generic-input generic-input-dark" 
        (ionChange)="changeFileName()" 
        type="text" 
        fill="solid" 
        labelPlacement="floating"
        [(ngModel)]="fileName">
        </ion-input>
    </div>

    <div class="settings-item">
        <h5>Default file type</h5>
    </div>
    <div class="settings-item select-wrapper">
        <ion-item>
            <ion-select interface="popover" placeholder="" (ionChange)="setImageType()" [ngModel]="fileType" class="type-select">
                <ion-select-option value="JPG">JPG</ion-select-option>
                <ion-select-option value="PNG">PNG</ion-select-option>
            </ion-select>
        </ion-item>
    </div>
</div>